<div *ngIf="category$ | async as response">
  <div class="card">
    <p>Current categories of post: </p>
    <div *ngFor="let currentCategoryOfPost of response">
      <span>{{currentCategoryOfPost.title}}</span>
    </div>
  </div>

  <form [formGroup]="formGroup">
      <select formControlName="categoryId" style="display: block" *ngIf="allCategory$ | async as currentCategory">
        <option *ngFor="let currentCategoryId of currentCategory">{{currentCategoryId.categoryId}}</option>
      </select>

      <button
        type="submit"
        (click)="submit()">
        Add category
      </button>
  </form>
</div>
