<div *ngIf="post$ | async as response; else loading">
  <div class="grid-container">
    <div *ngFor="let currentCategory of response.currentPageItems">
      <div class="card">
        <p>
          {{currentCategory.title}}
        </p>
        <p>
          {{currentCategory.postId}}
        </p>
          <button [routerLink]="['post', currentCategory.postId]">more information</button>
      </div>
    </div>
  </div>

  <div *ngIf="loadPost$ | async as loadPost">
    <div class="grid-container">
      <div *ngFor="let post of loadPost.currentPageItems">
        <div class="card">
          <p>
            {{post.title}}
          </p>
          <p>
            {{post.postId}}
          </p>
          <button [routerLink]="['post', post.postId]">more information</button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-center">
    <button
      class="waves-effect waves-light btn load-more-btn"
      [disabled]="!response.hasNextPage"
      (click)="loadMore()">
      load more
    </button>
  </div>
  <div class="prev-next-btn-container btn-grid-container">

  </div>
</div>

<ng-template #loading>
  Loading...
</ng-template>
