<div *ngIf="post$ | async as response; else loading">
  <div class="grid-container">
    <div *ngFor="let currentPost of response">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhwbBcwy5B5v-fq2qrnSTVahHjuzkhCYZg2J8x2-wQiiPwNM20l5CAB74VJsE6pu1Jxg&usqp=CAU">
        <p class="text-title">
          {{currentPost.title}}
        </p>
          <button class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['post', currentPost.postId]">more</button>
      </div>
    </div>
  </div>

  <div class="flex-center" *ngIf="currentPostsPage$ | async as currentPostsPage;">
    <button
      class="waves-effect waves-light btn load-more-btn"
      [disabled]="!currentPostsPage.hasNextPage"
      (click)="loadMore()">
      load more
    </button>
  </div>
  <div class="prev-next-btn-container btn-grid-container">

  </div>
</div>

<ng-template #loading>
  Loading...
</ng-template>
