<div class="container">
  <nav class="teal darken-2">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a [routerLink]="['/admin','categories']">Categories</a></li>
        <li><a [routerLink]="['/admin','new-category']">New category</a></li>
        <li><a [routerLink]="['/admin','posts']">Posts</a></li>
        <li><a [routerLink]="['/admin','new-post']">New post</a></li>
        <li><a [routerLink]="['/admin','users']">Users</a></li>
        <li><a [routerLink]="['/admin', 'registration']">Create NEW admin</a></li>
        <li><a [routerLink]="['/admin', 'roles']">Roles</a></li>
        <li><a href="#" (click)="logout($event)">Logout</a></li>
      </ul>
    </div>
  </nav>

  <div>
    <router-outlet>

    </router-outlet>
  </div>

</div>

