<div *ngIf="user$ | async as response">
  <app-user-form
    [user]="currentUser"
    *ngFor="let currentUser of response.currentPageItems"
    (OnFormSubmit)="editUser($event)">

  </app-user-form>

  <div class="flex-center">
    <button
      class="waves-effect waves-light btn margin"
      [disabled]="!response.hasPreviousPage"
      (click)="previousBtnClick()">
      <---</button>
    <button
      class="waves-effect waves-light btn margin"
      [disabled]="!response.hasNextPage"
      (click)="nextBtnClick()">
      ---></button>
  </div>
</div>
