.flex-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.margin-bottom {
  margin-bottom: 70px;
  margin-right: 10px;
}

.margin-top {
  margin-top: 15px;
}

.flex-end {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;
}

.btn {
  border-radius: 10px;
}
