<div class="margin-top">
  <div class="two"><h1>Welcome! Login as admin</h1></div>
</div>
<form [formGroup]="formGroup">
  <div class="form-group">
    <input id="name" formControlName="email"><label for="name">Email</label>
    <input id="pass" formControlName="password"><label for="pass">Password</label>
  </div>
  <div class="flex-center">
    <button
      type="submit"
      class="margin-bottom margin-top btn"
      (click)="submit()"
      [disabled]="formGroup.invalid">
      Login
    </button>
  </div>
</form>

